.form-login
  background #FAFBFB
  background url(/statics/images/back_login.png)
  background-repeat no-repeat
  background-size cover
  background-position center
  .container
  .form
    background #FAFBFB
    border 1px solid purple
    border-top-left-radius 3px
    border-bottom-left-radius 3px
  .background
    background purple
    border-top-right-radius 3px
    border-bottom-right-radius 3px