.form-login
  background #FAFBFB
  background url(../statics/images/back_login.png)
  background-repeat no-repeat
  background-size cover
  background-position center
  .container
  .form
    background #FAFBFB
    border 1px solid purple
    border-top-left-radius 3px
    border-bottom-left-radius 3px
  .background
    background purple
    border-top-right-radius 3px
    border-bottom-right-radius 3px

.no-decoration
  text-decoration none
fieldset 
  border-width 1px
.q-drawer
  .q-router-link--active
    color #fff
  .q-router-link--exact-active.q-router-link--active
    background #311B92
    color #FFF